<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/64c90fc5f5.js" crossorigin="anonymous"></script>
    <title>The Happy Place</title>
</head>
<body>

    <header>
        <div class="logo-container">
            <i class="logo fa-solid fa-face-smile"></i>
        </div>
        <nav class="menu hidden">
            <ul>
                <li><a href="/" class="menu-link">Home</a></li>
                <li><a href="/api/profile" class="menu-link">Profile</a></li>
                {{#if logged_in}}
                <!-- Trigger/Open The Modal -->
                <li><button class="button-link" id="modal-btn">New Post</button></li>
                <br/>
                <li class="username">Logged in as <strong>{{username}}</strong></li>
                <li><a class="menu-link" href="/" id="logout">Logout</a></li>
                {{else}}
                <li><a class="button-link" href="/login">Login</a></li>
                {{/if}}
            </ul>
        </nav>
        <a href="javascript:void(0);" class="icon">
            <i class="menu fa-solid fa-bars fa-2xl" id="menu-mobile"></i>
            <i class="menu fa-solid fa-xmark fa-2xl hidden" id="menu-mobile-close"></i>
        </a>
    </header>

    <h1 class="text-center m-2" id="heading">The Happy Place</h1>
    <h4 class="text-center m-2 font-italic">"<span id="quote"></span>"</h4>
    <h4 class="text-center m-2 font-italic"><span id="author"></span></h4>

    <main>
        {{{ body }}}
    </main>

    <!-- The Modal -->
        <div id="instructions-modal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <span class="modal-close">&times;</span>
                </div>
                    {{!-- add a new post --}}
                    <section class="modal-body">
                        <h2 class="card-header">What are you Grateful for today?</h2>
                        <form id="newPostForm">
                            <div class="form-group">
                                <label for="new-post-title">Title:</label>
                                <input class="form-control" type="text" id="new-post-title" required aria-required="true"/>
                            </div>
                            <div class="form-group">
                                <textarea name="new-post" id="new-post" class="comment-field" maxlength="250" required aria-required="true"></textarea>
                            </div>
                            <div class="form-group">
                                <p>Public posts are visible to all viewers. Private posts are only visible to you.</p>
                                    <input type="radio" id="new-post-public" name="visibility" value="true" checked>
                                    <label for="public">Public</label><br>
                                    <input type="radio" id="new-post-private" name="visibility" value="false">
                                    <label for="private">Private</label><br>
                            </div>
                            <p class="error" style="display: none;">❌ Please enter a complete title and post content.</p>
                            <button class="btn-primary" type="submit">Create Post</button>
                        </form>
                    </section>
                <div class="modal-footer">
                    <h3>Posting as <strong>{{username}}</strong></h3>
                </div>
            </div>
        </div>


    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
    <script src="/js/newPostModal.js"></script>
    <script src="/js/displayquote.js"></script>
    <script src="/js/quotes.js"></script>
    <script src="/js/navMenu.js"></script>
</body>
</html>