  body {
    font-family: garamond;
    font-size: 18px;
    /* background: whitesmoke; */
    background: -webkit-linear-gradient(to right, #77ac67, #c5ecb8);
    background: linear-gradient(to right,#77ac67,#c5ecb8);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: #221B1F;
    padding: 10px;
    margin-bottom: 2rem;
    height: 80px;
  }

  .logo-container {
    padding: 0;
    flex: 1 0 20%;
  }

  .logo {
    width: 40px;
    border-top: 2px solid var(--textstr);
    border-bottom: 2px solid var(--textstr);
    padding: 3px;
    vertical-align: middle;
    text-align: center;
    font-size: 30px;
    color: lightgreen;
    height: auto;
  }

  nav {
    color: white;
    background-color: #221B1F;
    font-size: 22px;
    padding: 70px 0 2rem 0;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
    opacity: 90%;
    border-radius: 0 0 0 10px;
    height: 100vh;
    transition: 0.5s;
  }

  nav ul {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    padding-top: 1rem;
  }

  nav li {
    display: inline;
    list-style: none;
    text-decoration: none;
    margin: 1rem 25px 1rem 10rem;
    flex: 1 0 100%;
    text-align: right;
  }

  a {
    text-decoration: none;
    color: white;
  }

  a:hover,
  a:focus {
    text-decoration: none;
    color: lightgreen;
  }


  .new-post-modal {
    width: 80%;
    position: fixed;
    display: none;
    top: 0;
    border: black solid 5px;
  }

  .comment-field {
    width: 75%;
    height: 20vh;
  }

  #new-post-title {
    width: 75%;
  }

  .card-header {
    background-color: #000000;
    color: whitesmoke;
    width: 100%;
  }

  .modal-body {
    background-color: #77ac67;
    color: black;
    font-size: 1.25em;
  }

  .modal-footer {
    background-color: #000000;
    color: whitesmoke;
  }

  .is-blurred {
    filter: blur(2px);
    -webkit-filter: blur(2px);
  }

  .modal-header {
    background-color: #77ac67;
    border-bottom: 0px;
  } 




  .user-link {
    color: lightgreen;
  }

  .email-link {
    color: darkgreen;
    font-weight: bold;
  }

  .user-link:hover,
  .email-link:hover {
    color: white;
  }

  .menu-link {
    display: block;
    width: 100%;
  }

  .icon {
    color: lightgreen;
    background-color: #221B1F;
    z-index: 3;
    position: fixed;
    right: 15px;
    padding: 15px;
    border-radius: 5px;
  }

  .help {
    color: lightgreen;
    background-color: #221B1F;
    z-index: 3;
    position: absolute;
    right: 100px;
    padding: 8px 22px;
    border-radius: 5px;
    font-size: 30px;
  }

  .button-link {
    border: solid 1px whitesmoke;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    color: #221B1F;
    background-color: whitesmoke;
    text-decoration: none;
    font-size: 22px;
  }
  
  /* change button syling on hover */
  .button-link:hover,
  .button-link:focus,
  .help:hover,
  .help:focus,
  .icon:hover,
  .icon:active {
    background-color: lightgreen;
    color: #221B1F;
    cursor: pointer;
  }

  .username {
    color: lightgray;
  }

  main {
    margin: 0 1rem;
    min-height: 100vh;
  }


  #heading {
    font-family: 'Tangerine', cursive;
    font-size: 6em;
  }

  #quote, #author {
    font-family: garamond;
  }
  
  h1 {
    margin: 0 0 1rem 0;
    font-size: 2.5rem;
    letter-spacing: 0.5px;
    color: #333;
  }

  h2 {
    font-weight: bolder;
    margin: 0;
  }

  p {
    font-size: 130%;
  }

  aside {
    padding-right: 1rem;
    border-right: solid 1px darkolivegreen;
    margin-right: 2rem;
  }

  .leftcolumn {
    float: left;
    width: 75%;
  }
  
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }

  .date-nav {
    margin: 1%;
  }

  .date-nav-btn {
    color: #cbd4db;
    background-color: #221B1F;
    font-weight: bold;
    margin: 0% 15%;
    padding: 2% 6%;
    font-size: 2em;
  }
  
  .post {
    position: relative;
    padding: 6rem 3rem 6rem 6rem;
    background: #fff;
    max-width: 400px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
  }

  .post-card {
    background-color: #0c410a;
    margin: 5px;
    color: #ececec;
    padding: 1%;
    border: 2px solid #221B1F;
    border-radius: 10px;
  }

  .post-body {
    font-size: 1.2em;
  }

  .post-footer {
    gap: 2rem;
    font-size: 90%;
  }

  .author-name {
    color: #ebf189;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .login-div {
    padding: 0 4rem 0 0;
  }

  .signup-div {
    padding: 0 0 0 4rem;
    border-left: solid 1px #221B1F;
  }

  .error {
    color: darkred;
    font-size: 100%;
  }
  
  footer {
    padding: 20px;
    text-align: center;
    background: #221B1F;
    color: whitesmoke;
    margin-top: 6rem;
  }

  .hidden {
    display: none !important;
  }

  @media screen and (max-width: 768px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }

    header {
          flex-flow: row;
          justify-content: space-between;
          padding: 20px;
      }

    #heading {
      font-size: 5rem;
    }

    .login-div {
      padding: 0 1rem 4rem 1rem;
    }
  
    .signup-div {
      padding: 4rem 1rem 0 1rem;
      border-top: solid 1px #221B1F;
      border-left: none;
    }

    aside {
      padding-bottom: 1rem;
      border-right: none;
      border-bottom: solid 1px darkolivegreen;
      margin-bottom: 3rem;
      margin-right: 0;
    }

    .comment-field {
      height: 15vh;
    }

  }

  @media screen and (max-width: 992px) {
    .signup-div {
      padding: 4rem 1rem 0 1rem;
      border-top: solid 1px #221B1F;
      border-left: none;
    }
  }