  body {
    font-family: garamond;
    font-size: 18px;
    background: #1488cc;
    background: -webkit-linear-gradient(to right, #77ac67, #c5ecb8);
    background: linear-gradient(to right,#77ac67,#c5ecb8);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
    padding: 10px;
    margin-bottom: 2rem;
    height: 80px;
  }

  .logo-container {
    padding: 0;
    flex: 1 0 20%;
  }

  .logo {
    width: 40px;
    border-top: 2px solid var(--textstr);
    border-bottom: 2px solid var(--textstr);
    padding: 3px;
    vertical-align: middle;
    text-align: center;
    font-size: 30px;
    color: lightgreen;
    height: auto;
  }

  nav {
    color: white;
    background-color: black;
    font-size: 22px;
    padding: 70px 0 2rem 0;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
    opacity: 90%;
    border-radius: 0 0 0 10px;
    height: 100vh;
    transition: 0.5s;
  }

  nav ul {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    padding-top: 1rem;
  }

  nav li {
    display: inline;
    list-style: none;
    text-decoration: none;
    margin: 1rem 25px 1rem 10rem;
    flex: 1 0 100%;
    text-align: right;
  }

  a {
    text-decoration: none;
    color: white;
  }

  a:hover,
  a:focus {
    text-decoration: none;
    color: lightgreen;
  }

  .menu-link {
    display: block;
    width: 100%;
  }

  .icon {
    color: lightgreen;
    z-index: 3;
    position: fixed;
    right: 15px;
    padding: 15px;
    border-radius: 5px;
  }

  .button-link {
    border: solid 1px whitesmoke;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    color: black;
    background-color: whitesmoke;
    text-decoration: none;
    font-size: 22px;
  }
  
  /* change button syling on hover */
  .button-link:hover,
  .button-link:focus,
  .icon:hover,
  .icon:active {
    background-color: lightgreen;
    color: black;
    cursor: pointer;
  }

  .username {
    color: lightgray;
  }

  #heading {
    font-family: 'Tangerine', cursive;
    font-size: 6em;
  }

  #quote, #author {
    font-family: garamond;
  }
  
  h1 {
    margin: 0 0 1rem 0;
    font-size: 2.5rem;
    letter-spacing: 0.5px;
    color: #333;
  }

  h2 {
    font-weight: bolder;
    margin-bottom: 1rem;
  }

  p {
    font-size: 130%;
  }

  .leftcolumn {
    float: left;
    width: 75%;
  }
  
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }

  .date-nav {
    margin: 1%;
  }

  .date-nav-btn {
    color: #cbd4db;
    background-color: black;
    font-weight: bold;
    margin: 0% 15%;
    padding: 2% 6%;
    font-size: 2em;
  }
  
  .post {
    position: relative;
    padding: 6rem 3rem 6rem 6rem;
    background: #fff;
    max-width: 400px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
  }

  .post-card {
    width: 25%;
    margin: 3%;
    background-color: #0c410a;
    color: #ececec;
    padding: 1%;
    border: 5px solid #000000;
    border-radius: 5%;
  }

  .post-body {
    font-size: 1.2em;
  }

  .post-footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 2rem;
    font-size: 90%;
  }

  .author-name {
    color: #ebf189;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .footer {
    padding: 20px;
    text-align: center;
    background: white;
    margin-top: 20px;
  }

  .hidden {
    display: none !important;
  }

  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }

    header {
          flex-flow: row;
          justify-content: space-between;
          padding: 20px;
      }
  
    section {
          margin: 4rem;
      }

    .login-signup {
          flex-flow: row nowrap;
          align-items: flex-start;
      }
  
    .login-form,
    .signup-form {
          flex: 1 0 30%;
          padding: 20px;
          border-top: none;
          border-left: solid 1px var(--white);
      }

      .post-card {
        width: 80%;
      }
  }